<!DOCTYPE html>
<html lang="en" dir="ltr" class="animated fadeIn" style="transition: .5s;">
  <head>
    {% include analytics/google-analytics-global-tag.html %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Lucas Makes" />
    <meta
      property="og:description"
      content="Portfolio for Lucas Zapico, showcasing frontend development, UI design, UX design, and branding."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />

    <meta
      property="og:image"
      content="https://lucaszapico.space/assets/img/site-feature-image.png"
    />

    <meta property="og:updated_time" content="2019-08-25T21:47:30-07:00" />
    <meta property="og:site_name" content="Lucas" />
    <meta name="author" content="Lucas Zapico" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://lucaszapico.space/assets/img/site-feature-image.png"
    />

    <meta name="twitter:title" content="Lucas Builds" />
    <meta
      name="twitter:description"
      content="Portfolio for Lucas Zapico, showcasing frontend development, UI design, UX design, and branding."
    />
    <title>{{ page.title }}</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{site.baseurl}}/assets/main.css"
      type="text/css"
      media="all"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- animate on scroll library  -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"
    ></script>
    <!-- font awesome library -->
    <link
      href="{{site.baseurl}}{{site.favicon}}"
      rel="shortcut icon"
      type="image/x-icon"
    />
    {% seo %}
  </head>
  <body class=""></body>
</html>
