<div class="row arrows-wrap" style="">
  <a href="{{site.baseurl}}{{page.next}}">
      <span class="valign-wrapper arrows" style=" float: left; margin-left: 2rem;">
        <i class="fas fa-angle-left"></i>
        <p class="">
          Previous Project
        </p>
      </span>
  </a>
  <a href="{{site.baseurl}}{{page.previous}}">
    <span class="valign-wrapper arrows" style="float: right; margin-right: 2rem; ">
      <p class="">
        Next Project
      </p>
      <i class="fas fa-angle-right"></i>
    </span>
  </a>
</div>
