<h2 class="mume-header" id="running-list-for-lucinc">Running List for Luc.Inc</h2>

<p><em>This project is a work in progress as everything seems to be. There is always room for improvement and as this portfolio was launched in Jaunary 2018 much of the foundation is still settling. As such I am attempting to convey a little insight as to the status of the project</em></p>
<h3 class="mume-header" id="highlevel-spaces-of-focus">Highlevel Spaces of Focus</h3>

<h4 class="mume-header" id="1-content">1. Content</h4>

<ul>
<li>The primary focus is to convey the story in a way that allows for you the audience to be informative in a appealing manor.</li>
<li>version 3 60% complete</li>
<li>current friction point</li>
</ul>
<h4 class="mume-header" id="2-performance">2. Performance</h4>

<ul>
<li>Integrate best practices for responsive and performant web design.</li>
</ul>
<h4 class="mume-header" id="3-marketing">3. Marketing</h4>

<ul>
<li>any public address on the internet is pretty useless if it isn't discoverable. Though this is mostly for personal use and to demonstrate the value delieverable to the market. It is becoming industry standard with the web space that the marketing or delievering the value propostion and staying within the awarness of ones audience is becoming at implicit expectation.</li>
</ul>

      </div>

    
