---
layout: default
title: About
permalink: /about/
description: "Here is a little about how things are done around here at Luc.Inc"
---
{% include header.html %}
<main class="about-section">
    <section id="about" class="scrollspy container">
        <h2 class="space-bottom">About</h2>
        <div class="row">
            <div class="col s12 m12 l6 text-body-lg type-two space-right space">
                <!-- <p class="padding-bottom">
          <em>Building experiences that provoke thoughts, embed emotions, author memories and stimulates discourse and understanding.</em>
        </p> -->
                <div class="space">
                    <p class="text-body-lg">
                        Lucas Zapico is a design-driven developer with a focus on potent, scalable solutions. I currently live in the greater Seattle area and am available for hire.
                    </p>
                    <p class="text-body-lg">
                        My pervasive goal is to make the power in the digital space intuitive and accessible for all.
                    </p>
                   <!--  <p class="text-body-lg"> To see previouse work experience, schooling, and courses see <a href="site.linkedin_link" class="link link-light">LinkedIn.</a> For layouts, mockups, and general tinkering hop over to <a href="site.codepen_link" class="link link-light">CodePen</a> or <a href="site_codesandbox_link" class="link link-light"> CodeSandbox</a>. Pardon, I bounce between the two depending on needs.
                    </p> -->
                    <a href="{{site.baseurl}}/#projects" class="link link-light space-bottom">See Projects</a>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <img src="{{site.baseurl}}/assets/img/about-profile-img/main-profile.jpg" class="main-profile-img space" />
    </div>
            </div>
            <!--<div class="row">
                <div class="col s6 m6 l6">
                    <a class="btn-flat" target="_blank" href="{{site.baseurl}}../assets/public/lucaszapico-resume-2018.pdf" download="lucaszapico-resume-2018">Download Resume</a>
                </div>
                <div class="col s6 m6 l6">
                </div>
            </div>-->
    </section>
 <!--    <section>
        <div class="row container">
            <div class="col s12 m6 l6">
                <h4>Key</h4>
                <em>Metrics with out a scale or context are useless. So in an attempt to make this fun little chart useful here is a key</em>
                <div>
                    <strong>100%+</strong>
                    <p></p>
                    <strong>80%-100%</strong>
                    <p></p>
                    <strong>60%-80%</strong>
                    <p></p>
                    <strong>40%-60%</strong>
                    <p></p>
                    <strong>20%-40%</strong>
                    <p></p>
                    <strong>0%-20%</strong>
                    <p></p>
                    <blockquote>"I hear and I forget. I see and I remember. I do and I understand." -Confucius
                    </blockquote>
                </div>
            </div>
            <div class=" col s12 m6 l6 skill-chart">
                <div class="">
                    <h4>FrontEnd</h4>
                    <ul class="skill-bars frontend">
                        <li>
                            <div class="progress percent90">
                                <span>90%</span>
                            </div>
                            <strong>HTML</strong>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <h4>BackEnd</h4>
                    <ul class="skill-bars backend">
                        <li>
                            <div class="progress percent90">
                                <span>90%</span>
                            </div>
                            <strong>HTML</strong>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <h4>DevOpts</h4>
                    <ul class="skill-bars devopts">
                        <li>
                            <div class="progress percent90">
                                <span>90%</span>
                            </div>
                            <strong>HTML</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src='{{site.baseurl}}/assets/JS/skills.js'></script>
    </section> -->
    <!-- <div class="divider"></div>
  <div class="container space">
    {% include todo.html %}
  </div>
  <div class="divider"></div> -->
    <!-- <section id="my-value" class="scrollspy">
    <h3>Value Delivered</h3>
    <div class="row">
      {% for value in site.data.value %}
      <div class="col s12 m6 l3">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">{{value.icon}}</i></h2>
          <h5 class="center">{{ value.title }}</h5>

          <p class="light">{{value.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section> -->
    <!-- {% include get-in-touch.html %} -->
</main>
