// COLOR VARIABLES

$color-primary: #C89C1C;
$color-secondary: #333333;
// $color-secondary: hsl(0, 0%, 50%);

$color-palette-a: #C7B654;
$color-palette-b: #E3CF5F;
$color-palette-c: #FFE9AA;
// $color-palette-d: #FFD596;
// $color-palette-e: #FFCD82;

$light-0: #FFFFF;
$light-1: #FBFBFB;
$light-2: #F2F2F2;
$light-3: #E6E6E6;


$grey-l-0: #CCCCCC;
$grey-l-1: #B3B3B3;
$grey-m-0: #999999;
$grey-m-1: #808080;
$grey-d-0: #666666;
$grey-d-1: #4D4D4D;

$dark-0: #4D4D4D;
$dark-1: #333333;
$dark-2: #1A1A1A;
$dark-3: #000000;



