body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {

  // margin-top: 5em;
  .brand-logo {
    svg {
      height: 6rem;
    }

    #house-icon {
      height: 200px;
    }
  }

  ul {
    li {
      margin-top: .8rem;
    }
  }

  a {

    color: $color-palette-a;
  }

  a:hover {
    color: adjust-color($color-palette-a, $lightness: 30%);
  }

  a:active {
    color: adjust-color($color-palette-a, $lightness: -30%);
  }

  .get-in-touch {
    #coffee-cup-icon {
      height: 80px;
    }

    h6 {
      padding: 1em;
    }

    text-align: center;
    padding: 1em;
    margin: 0;
    margin-top: 1em;

    // box-shadow: 0px 0px 0px 0px rgba(26, 25, 25, 0.80);
  }
}

.social-links {

  a {
    color: $color-palette-a;
    padding: .5em;
  }

  a:hover {
    color: adjust-color($color-palette-a, $lightness: 30%)
  }

  a:active {
    color: adjust-color($color-palette-a, $lightness: -30%);
  }
}