nav {
  svg {
    padding: 4px 10px;
    height: 56px;
  }

    ul {
        a.link {
          font-family: $font-stack-secondary;
          letter-spacing: .2rem;
          line-height: normal;
          text-decoration: underline;
          text-transform: uppercase;
          font-style: italic;
          line-height: 100px;
          color: $color-primary;
        }
        a.link:hover {
          color: #333333;
        }
    }
}


@media screen and (min-width: 700px){
  nav {
    svg {
      padding: 15px 20px;
      height: 100px;
    }

  }

}
